body {
    background-image: url('./Scooter.jpg');
}

#error {
    color: red;
    text-align: center;
}

#errormodaladd {
    color: red;
    text-align: center;
}

#errormodaledit {
    color: red;
    text-align: center;
}

.section {
    display: none;
    margin : 40px 80px
}

h1{
    text-align: center;
}

label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

#tombol{
    margin: 10px 0px
}

#login{
    margin: 40px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#login-form{
    width: 500px
}

#register{
    margin: 40px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#register-form{
    width: 500px
}

#todo-pic{
    height: 450px;
    width: 450px;
}

#title-main{
    background-color: lightblue;
    border-radius: 10px;
    color:blue
}

#usertodo{
    font-weight: 600;
    text-align: center;
}

#legend{
    background-color: lightskyblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    padding-left: 5px;
}

#sublegend{
    font-size: 12px;
    margin: 3px 10px;
    padding-left: 5px;
    border-radius: 20px;
    padding:3px
}

#list-todos{
    background-color: lightblue;
}

#table-todos{
    text-align: center;
}

.modal-header{
    background-color: lightgrey;
}

#weather {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 2px
}

#back-weather {
    color: blue;
    background-color: lightskyblue;
    min-height: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 180px 350px auto;
}

#subweather {
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#city-weather {
    height: 25px;
    width: 120px
}

#title-weather {
    font-weight:bold; 
    font-size:20px; 
    padding-top: 15px;
}

#isi-weather {
    padding-top: 15px;
}

.phelp {
    color: blue;
    font-weight: 500;
}